# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=8345b674b8b7cf2d5a5d7fda744cc25d38c799d03631d27704bac73186eea27f09fdff3bfbe8da8de25ee4b0223cc1560b79c4f8bfa31072e545ebd6164fe3f8

# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=https://musclematrix.app/validation-key.txt

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=http://localhost:3314
